body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: auto;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}